<% content_for :title, "#{@user.name} | #{@post.title}" %>
<h1>Posts#show</h1>
<% if flash[:success] %>
  <div class="notice"><%= flash[:success] %></div>
<% end %>

<%= render "user_post", post: @post %>

<%= render "likes/add_like"%>

<div class="post-comments mt-4 border-2 border-gray-500">
  <% @post.comments.each do |comment| %>
    <div class="post-comment">
      <p>
        <span><strong><%= comment.author.name %>:</strong></span>
        <span><%= comment.text %></span>
      </p>
    </div>
  <% end %>
</div>

<h2 class="mt-2">Add a Comment</h2>
<%= button_tag '', class: 'mt-3 button button-text button-blue' do%>
  <%= link_to 'Add Comment', new_user_post_comment_path(@user.id, @post.id) %>
<% end %>