<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render "layouts/top_header" %>
  </head>

  <body>
    <%= link_to 'HOME', users_path, class: 'mr-8' %>
    <%= link_to 'BACK', 'javascript:history.back()' %>
    
    <% if current_user %>
      <h2 class="mt-3">Welcome <%= current_user.name %></h2>
      <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "mt-2 button button-gradient text-white bg-gray-500 border hover:text-gray-500 hover:border-gray-500 hover:bg-transparent", 'data-ripple-light': true %>
    <% end %>

    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>

    <%= yield %>
    <%= render "layouts/bottom_header" %>
  </body>
</html>
